@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color: rgb(15, 15, 15);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
     display: flex;
     align-items: center;
     list-style-type: none;
     height: 89px;
     color: white;
     background-color: black;
}
.logo img{ 
    height: 89px;
}
nav ul li{
    padding: 0 12px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: underline;
}
p{
    color: white;
    font-size: 40px;
    margin: 34px 0 0 30px;
}
h1{
    color: white;
    font-size: 40px;
    margin: 34px 0 0 55px; 
}
.kpop{
  margin: 43px 0 0 55px;
  display: inline-flex;
}
