@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color: rgb(15, 15, 15);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
     display: flex;
     align-items: center;
     list-style-type: none;
     height: 89px;
     color: white;
     background-color: black;
}
.logo img{ 
    height: 89px;
}
nav ul li{
    padding: 0 12px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: underline;
}
